.header {
  position: relative;
  padding: 2rem var(--mainPaddingX);
  background: linear-gradient(to right, var(--lightsalmon), var(--neutralgray));
  /* background: var(--lightsalmongradient); */
}

.header-content-row {
  display: flex;
  gap: 5rem;
  height: 60rem;
  margin-top: 8rem;
  margin-bottom: 4rem;
  /* border: 3px solid purple; */
}

.hero-blurb {
  line-height: 2.7rem;
}

.header-content-column {
  flex: 1;
}

.hero-content-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  /* border: 5px solid orange; */
}

.hero-content-h1-divs {
  background-image: var(--text-gradient);
  color: transparent;
  background-clip: text;
  /* border: 3px solid mediumspringgreen; */
}

.hero-h1-div {
  display: flex;
  gap: 3rem;
}

.hero-img-div {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 0.5rem;
  /* overflow: hidden; */
  min-width: 500px;
  /* border: 5px solid red; */
}

.hero-img {
  height: 100%;
  width: 100%;
  z-index: 5;
  position: relative;
  border-radius: 0.5rem;

  /* border: 5px solid yellow; */
}

.hero-img-picture-blur {
  position: absolute;
  inset: 0;
  filter: blur(30px);
  /* border: 2px solid red; */
  transform: scale(1.1);
}

@media screen and (max-width: 1050px) {
  .header-content-row {
    flex-direction: column;
    height: auto;
    margin-top: 6.4rem;
  }

  .hero-h1-div {
    gap: 1rem;
  }

  .hero-img-div {
    min-width: auto;
  }
}

@media screen and (max-width: 1050px) {
  .header-content-row {
    margin-top: 4.8rem;
  }
}
