.top-section {
  display: flex;
  padding: 6rem var(--mainPaddingX);
  gap: 3rem;
}

.mobile {
  display: none;
  /* border: 3px solid green; */
}

.section-column {
  flex: 1;
  position: relative;
  height: 52rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-img {
  height: 100%;
  width: 100%;
  min-width: 50rem;
  min-height: 50rem;
  border-radius: 1rem;
}

.section-column-content {
  padding: 4rem 0;
  /* border: 2px solid red; */
}

.highlight {
  position: relative;
}

.highlight::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 110%;
  height: 30px;
  background: var(--darksalmon);
  transform: rotate(-5deg) translateY(0.5rem);
  filter: blur(2px);
}

.priority {
  position: relative;
  z-index: 5;
}

.section-list-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 1.5rem 0;
}

@media screen and (max-width: 1050px) {
  .top-section {
    flex-direction: column;
    padding: 3rem var(--mainPaddingX);
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    /* border: 3px solid red; */
  }

  .section-img {
    min-width: auto;
    min-height: auto;
  }
}
