.app {
  max-width: 144rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  /* border: 2px solid black; */
}

.inflate-vertically {
  animation: inflate-vertically 1s var(--i) ease forwards;
}

@keyframes inflate-vertically {
  100% {
    transform: scaleY(1);
  }
}

.spin-inflate-el {
  animation: spin-inflate-el 1s var(--i) ease forwards;
}

@keyframes spin-inflate-el {
  100% {
    transform: scale(1) rotate(1080deg);
  }
}

.clear-blur {
  filter: blur(50px);
  animation: clearblur 1s var(--i) forwards;
}

@keyframes clearblur {
  100% {
    filter: blur(0px);
  }
}

.stretch-grow-el {
  transform: scale(0);
  animation: stretchgrowel 1.5s var(--i) cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards;
}

@keyframes stretchgrowel {
  50% {
    transform: scaleY(1) scaleX(0.25);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

.slide-center-el {
  animation: slidetocenter 1s var(--i) cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards;
}

@keyframes slidetocenter {
  100% {
    transform: translateX(0);
  }
}
